.env
/.venv
/data
/__pycache__

*.__pycache__
*.pyc
*.ipynb
*.ipynb_checkpoints
*.zip

/app/uploads/
/app/json_events/
/History_syllabus/*
/RAG_vector_store/

test_embedding_client.py
test_rag_system.py
